* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: auto auto;
  width: 52%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  padding-top: 30px;
  gap: 15px;
} 